<div class="search--open" *ngIf="isSearchInputOpen">
  <span class="material-icons search--open__icon">search</span>
  <input
   autocomplete="off"
    (blur)="closeSearchInput()"
    (keyup.enter)="search()"
    class="search--open__input"
    type="text"
    name="search"
    id="search"
    [(ngModel)]="movieName"
    autofocus
  />
  <span class="material-icons search--open__icon close-icon">close</span>
</div>
<span
  *ngIf="!isSearchInputOpen"
  (click)="openSearchInput()"
  class="material-icons search--icon"
  >search</span
>
