@use '../../../../styles/' as *;


.search--open {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 20px;
  border: 1px solid white;

  &__icon{
    color: rgb(238, 237, 237);
  }

  &__input {
    border: none;
    background-color: transparent;
    caret-color: white;
    color: white;
    padding:0px 10px;
    font-size: 15px;
    width: 60%;
    &:focus {
      outline: none;
    }
  }
}


.close-icon{
  color:grey;
}
