@use '../../../styles/index' as *;

.hero-movie-background {
  z-index: -1;
  top: -60px;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(50%);
  opacity: 0.5;

  @include desktop {
    height: 120vh;
  }
}

.hero-movie {
  width: 100vw;
  height: 50vh;
  padding: 2em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop {
    padding: 4em 4em 0em 4em;
    height: 100vh;
  }

  .title {
    width: 60%;
    font-size: 25px;
    @include desktop {
      font-size: 35px;
    }
  }

  .small-text {
    font-weight: 300;
    font-size: 12px;
    @include desktop {
      font-size: 15px;
    }
  }

  .rate-container {
    display: flex;
    align-items: center;

    .rate {
      font-weight: 300;
      font-size: 14px;
      margin-left: 10px;
      @include desktop {
        font-size: 17px;
      }
    }
  }

  .timing-container {
    display: flex;
    align-items: center;

    .icon {
      font-size: 15px;
      @include desktop {
        font-size: 20px;
      }
    }
  }

  .subtitle {
    display: none;
    margin-top: 1em;
    @include desktop {
      display: block;
    }

    h4 {
      color: $color-orange;
      font-size: 15px;
      @include desktop {
        font-size: 20px;
      }
    }
    p {
      width: 50%;
      font-size: 12px;
      font-weight: 300;
      @include desktop {
        font-size: 16px;
      }
    }
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #d3d3d3;
  @include desktop {
    font-size: 22px;
  }
}
.full {
  color: $color-orange;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: $color-orange;
}


.slide{
  position: relative;
  width: 100vw;
  height: 100vh;
}
