<div
  class="movie-background"
  [ngStyle]="{
    'background-image':
      'url(http://image.tmdb.org/t/p/original' + movie$.backdrop_path + ')'
  }"
></div>
<div class="movie-detail">
  <div class="movie-detail__image-box">
    <img
      [src]="'http://image.tmdb.org/t/p/original' + movie$.backdrop_path"
      [alt]="movie$.title"
    />
    <a
      class="movie-detail__play"
      routerLink="{{ '/movie-video/' + movie$.id }}"
    >
      <span class="material-icons-outlined"> play_circle </span>
    </a>
  </div>
</div>

<main>
  <ul>
    <li *ngFor="let genre of movie$.genres">
      {{ genre.name }}
    </li>
  </ul>

  <div>
    <h1>{{movie$.title}}</h1>
    <p>{{ movie$.overview }}}</p>
  </div>
</main>
