@use '../../../styles/' as *;

.movies-list {
  @include flex(row, center, center);

  ul {
    width: 100%;
    @include flex(row, center, center);
    flex-wrap: wrap;
    @include desktop{
      justify-content: flex-start;
    }
  }

  li {
    margin-bottom: 3%;
  }
}
