@use './styles/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

*:focus {
  outline: none !important;
}

ol, ul, dl {
 margin:0 !important;
}

 li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white !important;
  text-decoration: none !important;
}

main{
  margin: 1em;
  @include desktop{
    margin: 2em 4em;
  }
}

body {
  width: 100% !important;
  height: 100% !important;
  background-color: $color-background-black !important;
  color: white !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y:scroll;
  overflow-x:hidden
}

.material-icons {
  cursor: pointer;
  transition: 0.5;

  &:hover {
    opacity: 0.8;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
